<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Users</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/standardBack.css"
	th:href="@{/css/standardBack.css}" />
<style type="text/css">
.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
	background-color: #d9e8e9;
}
</style>
</head>
<body layout:fragment="content">
	<h1 style="color: #509b9e;">Users Master List</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${users}">
				<td th:text="${c.firstName}"></td>
				<td th:text="${c.lastName}"></td>
				<td th:text="${c.email}"></td>
				<td th:text="${c.phoneNumber}"></td>
				<td><a class="btn btn-default" href="/"
					th:href="@{|/user/${c.id}}" role="button">View</a></td>
				<td><a class="btn btn-primary" href="/"
					th:href="@{|/user/${c.id}/edit|}" role="button">Edit</a></td>
				<td><a class="btn btn-danger" href="/"
					th:href="@{|/user/${c.id}/edit|}" role="button">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/user/create">Create User</a>
	<form th:action="@{|/user/search|}" method="POST">
		<input type="text" placeholder="Search..." name="search"
			th:value="${search}" /> <input type="submit" th:value="Search" />
	</form>

</body>
</html>