<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Users</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Users Master List</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${users}">
				<td th:text="${c.firstName}"></td>
				<td th:text="${c.lastName}"></td>
				<td th:text="${c.email}"></td>
				<td th:text="${c.phoneNumber}"></td>
				<td><a class="btn btn-default" href="/" th:href="@{|/user/${c.id}}" role="button">View</a></td>
				<td><a class="btn btn-primary" href="/" th:href="@{|/user/${c.id}/edit|}" role="button">Edit</a></td>
				<td><a class="btn btn-danger" href="/" th:href="@{|/user/${c.id}/delete|}" role="button">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>